In [1]:
import pandas as pd
import plotly.express as px
import plotly.offline as pyo

In [2]:
df = pd.read_csv("D:/Data_Analysis/gdp.csv")

final_data = []

for country_name in df['Country Name'].unique():
    df_pr = df[df['Country Name'] == country_name]

    data = df_pr.values

    gdp_change = [0]

    for i in range(1, len(data)):
        gdp_change.append(round(((data[i][3] - data[i-1][3]) / data[i-1][3]) * 100, 2))

    df_pr = df_pr.assign(GDP = gdp_change)
    final_data.append(df_pr)
    
df = pd.concat(final_data, axis = 0)
df.head()

  Country Name Country Code  Year         Value    GDP
0   Arab World          ARB  1968  2.576068e+10   0.00
1   Arab World          ARB  1969  2.843420e+10  10.38
2   Arab World          ARB  1970  3.138550e+10  10.38
3   Arab World          ARB  1971  3.642691e+10  16.06
4   Arab World          ARB  1972  4.331606e+10  18.91

## GDP Growth comparison of all the Countries

In [4]:
fig = px.line(df, x = 'Year', y = 'GDP', color = 'Country Name')
pyo.plot(fig, filename = 'GDP Grwoth.html', auto_open = True)

'GDP Grwoth.html'

## GDP of all Countries

In [6]:
fig = px.line(df, x = 'Year', y = 'Value', color = 'Country Name')
pyo.plot(fig, filename = 'GDP OF Every Country.html', auto_open = True)

'GDP OF Every Country.html'

## GDP Analysis of 2 Countries

In [9]:
C1 = df[df['Country Name'] == 'India']
C2 = df[df['Country Name'] == 'China']

df_pr = pd.concat([C1,C2], axis = 0)
df_pr

     Country Name Country Code  Year         Value    GDP
6074        India          IND  1960  3.653593e+10   0.00
6075        India          IND  1961  3.870910e+10   5.95
6076        India          IND  1962  4.159907e+10   7.47
6077        India          IND  1963  4.777600e+10  14.85
6078        India          IND  1964  5.572687e+10  16.64
...           ...          ...   ...           ...    ...
4098        China          CHN  2012  8.560547e+12  13.05
4099        China          CHN  2013  9.607224e+12  12.23
4100        China          CHN  2014  1.048237e+13   9.11
4101        China          CHN  2015  1.106467e+13   5.55
4102        China          CHN  2016  1.119915e+13   1.22

[114 rows x 5 columns]

In [14]:
fig = px.line(df_pr, x = 'Year', y = 'Value', title = 'IND-CHN GDP Analysis', color = 'Country Name')
pyo.plot(fig, filename = 'IND-CHN GDP Analysis.html')

'IND-CHN GDP Analysis.html'

## GDP Comparison between more than 2 countries

In [30]:
lst = ['ITA', 'IND', 'USA', 'CHN']
dfs = []

for i in lst:
    dfs.append(df[df['Country Code'] == i])
    df_pr = pd.concat(dfs, axis = 0)
df_pr['Country Name'].unique()

array(['Italy', 'India', 'United States', 'China'], dtype=object)

In [31]:
fig = px.line(df_pr, x = 'Year', y = 'Value', title = 'GDP COomparison', color = 'Country Name')
pyo.plot(fig, filename = 'test.html', auto_open = True)

'test.html'

## GDP Comparison between more than 2 countries using Function

In [38]:
def compare_GDP(lst, isOpen):
    dfs = []

    for i in lst:
        dfs.append(df[df['Country Code'] == i])
        df_pr = pd.concat(dfs, axis = 0)
        
    fig = px.line(df_pr, x = 'Year', y = 'Value', title = 'GDP Comparison', color = 'Country Name')
    pyo.plot(fig, filename = '-'.join(lst) + '.html', auto_open = isOpen)

In [39]:
compare_GDP(['IND', 'CHN', 'USA', 'ITA'], True)