In [22]:
!pip install plotly==5.11.0

Collecting plotly==5.11.0
  Downloading plotly-5.11.0-py2.py3-none-any.whl (15.3 MB)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\harsh kapoor\anaconda3\lib\site-packages (from plotly==5.11.0) (8.1.0)
Installing collected packages: plotly
  Attempting uninstall: plotly
    Found existing installation: plotly 5.13.0
    Uninstalling plotly-5.13.0:
      Successfully uninstalled plotly-5.13.0
Successfully installed plotly-5.11.0

In [2]:
import os
import pandas as pd
import plotly.express as px
import plotly.offline as pyo

In [3]:
df = pd.read_csv("D:/Data_Analysis/gdp.csv")

final_data = []

for country_name in df['Country Name'].unique():
    df_pr = df[df['Country Name'] == country_name]

    data = df_pr.values

    gdp_change = [0]

    for i in range(1, len(data)):
        gdp_change.append(round(((data[i][3] - data[i-1][3]) / data[i-1][3]) * 100, 2))

    df_pr = df_pr.assign(GDP = gdp_change)
    final_data.append(df_pr)
    
df = pd.concat(final_data, axis = 0)
df.head()

  Country Name Country Code  Year         Value    GDP
0   Arab World          ARB  1968  2.576068e+10   0.00
1   Arab World          ARB  1969  2.843420e+10  10.38
2   Arab World          ARB  1970  3.138550e+10  10.38
3   Arab World          ARB  1971  3.642691e+10  16.06
4   Arab World          ARB  1972  4.331606e+10  18.91

## GDP of all Country graph Individual

In [ ]:
os.mkdir('GDP Individual')

for country_name in df['Country Name']:
    df_pr = df[df['Country Name'] == country_name]
    fig = px.line(df_pr, x = 'Year', y = 'Value', title = country_name + 'GDP Analysis')
    pyo.plot(fig, filename = 'GDP Individual/' + country_name+'.html', auto_open = False)

## GDP of each Country wrt 80T

In [ ]:
os.mkdir('GDP Individual wrt World 2')

c = 0

for country_name in df['Country Name']:
    c += 1
    df_pr = df[df['Country Name'] == country_name]
    fig = px.line(df_pr, x = 'Year', y = 'Value', title = country_name + 'GDP Analysis', range_y = [0,80000000000000])
    pyo.plot(fig, filename = 'GDP Individual wrt World 2/' + country_name+'.html', auto_open = False)
    
    if(c == 5):
        break

## GDP Of India

In [36]:
df_pr = df[df['Country Name'] == 'India']
fig = px.line(df_pr, x = 'Year', y = 'GDP', title = 'India GDP Analysis')
pyo.plot(fig, filename = 'India2.html')

'India2.html'

## GDP Growth of all Countries Graph Individual

In [92]:
os.mkdir('GDP Growth Individual')

for country_name in df['Country Code'].unique():
    df_pr = df[df['Country Code'] == country_name]

    fig = px.line(df_pr, x = 'Year', y = 'GDP', title = 'GDP Individual')
    pyo.plot(fig, filename = 'GDP Growth Individual/' + country_name + '.html', auto_open = False)

'Ind.html'